.expense {
	align-items: center;
	background: #1c1c1c;
	display: flex;
	justify-content: start;
	text-align: center;
	width: 100%;
}

.expense > * {
	font-size: 2em;
	padding: 0.5rem;
}

.expense__price {
	font-weight: bold;
	margin-left: auto;
}

@media screen and (max-width: 520px) {
	.expense {
		font-size: 75%;
	}
}
