.expenses {
	display: flex;
	background: #2f2f2f;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	width: 100%;
}

.expenses__message {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
}
