.filter {
	align-items: stretch;
	display: grid;
	flex-direction: column;
	grid-template-columns: repeat(2, 1fr);
}

.filter__select {
	appearance: none;
	background: #1c1c1c;
	border: none;
	border-radius: 0.5rem;
	box-shadow: 0 1px 0.5rem rgba(0, 0, 0, 0.25);
	color: white;
	font-size: 1.5rem;
	justify-self: end;
	margin-right: 1rem;
	padding: 1rem 3rem;
	position: relative;
	text-align: center;
	transition: filter 0.15s ease-in;
}

.filter__select:hover {
	cursor: pointer;
	filter: brightness(1.2);
}

.filter__text {
	font-size: 1.75rem;
	font-weight: bold;
	margin-left: 1rem;
	align-self: center;
}
